@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/IdentityStyle.css" />

<style>
    .btn-local {
        margin-top: 10px;
        box-shadow: none;
    }

    h3 {
        color: white;
    }

    .inputbox-local {
        margin-top: 20px;

    }

    .inputbox-local::placeholder {
        color: #fff;
    }
</style>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <input asp-for="Input.OldPassword" type="password" class="inputbox-local" placeholder="Current Password" autocomplete="current-password" aria-required="true" required />

                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.NewPassword" type="password" class="inputbox-local" placeholder="New Password" autocomplete="new-password" aria-required="true" required />

                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.ConfirmPassword" type="password" class="inputbox-local" placeholder="Confirm New Password" autocomplete="new-password" aria-required="true" required />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-local btn-sm">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
